---
// Fundation
import Text from "../fundations/elements/Text.astro";
import Button from "../fundations/components/Button.astro";
import Wrapper from "../fundations/containers/Wrapper.astro";
// Components
import SubmitModal from "../tools/SubmitModal.astro";
import SubscribeModal from "../forms/SubscribeModal.astro";
import BigLogo from "@/components/assets/BigLogo.astro";
---
<section class="relative overflow-hidden">
  <Wrapper variant="hero" class="relative">
    <BigLogo />
    <Text
      tag="p"
      variant="textLG"
      class="mt-4 text-base-700 text-balance"
    >
      Your last spot to find new tools every day
    </Text>
    <div class="mt-8 flex flex-wrap gap-4">
      <div x-data="{ open: false }">
        <Button
          x-on:click="open = true"
          size="sm"
          variant="default"
          title="#_"
          class="justify-center flex items-center gap-1"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg
          >
          Submit a tool
        </Button>
        <SubmitModal />
      </div>
      <div x-data="{ open: false }">
        <Button
          x-on:click="open = true"
          size="sm"
          variant="muted"
          title="#_"
          class="justify-center flex items-center gap-1"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-mail size-4"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
            ></path><path d="M3 7l9 6l9 -6"></path></svg
          >
          Subscribe
        </Button>
        <SubscribeModal />
      </div>
    </div>
  </Wrapper>
</section>
