---
// Fundation
import Text from "../fundations/elements/Text.astro";
import Wrapper from "../fundations/containers/Wrapper.astro";
// Components
import Yrx from "@/components/assets/yrxLogo.astro";
import DirectorySearch from "../directory/DirectorySearch.astro";
---

<section class="relative overflow-hidden">
  <Wrapper variant="hero" class="relative">
    <div class="w-34 h-8 mb-6 ml-1">
      <Yrx />
    </div>
    
          <h1 class="text-6xl md:text-6xl lg:text-7xl font-extrabold text-base-1000 mb-6 leading-tight tracking-tighter">
        Grow Faster with Reddit
      </h1>
    
    <Text tag="p" variant="textLG" class="text-base-700 text-balance mb-14">
      YRX is your #1 partner for Reddit marketing.
    </Text>
    
    <div class="flex flex-wrap gap-4 mb-8">
      <a 
        href="https://cal.com/yxr.io" 
        target="_blank" 
        rel="noopener noreferrer"
        class="flex cursor-pointer rounded-full items-center duration-300 focus:ring-2 focus:ring-offset-2 transition focus:outline-none text-white bg-black hover:bg-base-800 focus:ring-black h-9 px-4 py-2 text-sm font-medium justify-center gap-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg
        >
        Work with us
      </a>
      <div class="w-72 [&_button]:cursor-text [&_button]:hover:cursor-text">
        <DirectorySearch />
      </div>
    </div>
  </Wrapper>
</section>
