---
import Text from "../fundations/elements/Text.astro";
import Wrapper from "../fundations/containers/Wrapper.astro";
import SubscribeModal from "../forms/SubscribeModal.astro";
import SubmitModal from "../forms/SubmitModal.astro";
---

<section class="relative overflow-hidden">
  <Wrapper variant="hero" class="relative">
    <Text
      tag="h1"
      variant="displaySM"
      class="text-base-900 font-mono uppercase font-medium tracking-tighter 2xl:text-5xl"
    >
      Welcome to trendspotter
    </Text>
    <Text
      tag="p"
      variant="textMD"
      class="mt-4 text-base-500 text-balance 2xl:text-xl"
    >
      Your essential directory for tools and resources — streamline your
      workflow, boost creativity
    </Text>
    <div class="mt-8 flex flex-wrap gap-4">
      <SubmitModal />
      <SubscribeModal />
    </div>
  </Wrapper>
</section>
