---
const {
  variant,
  size,
  onlyIconSize,
  gap,
  class: className,
  href, // Accept href prop for the link
  ...rest
} = Astro.props;

// Default button styles
const defaultClass = [
  "text-white",
  "bg-black",
  "hover:bg-base-800",
  "focus:ring-black",
];
const accentClass = [
  "text-white",
  "bg-accent-500",
  "hover:bg-accent-600",
  "focus:ring-accent-600",
];
const mutedClass = [
  "text-base-700",
  "bg-white",
  "ring",
  "ring-base-200",
  "hover:text-accent-500",
  "focus:ring-base-500",
];
const ghostClass = [
  "text-base-600",
  "ring",
  "ring-base-300",
  "hover:text-black",
  "focus:ring-base-500",
];

// Simple link (minimal styling)
const linkClass = ["focus:ring-0"];

// Size (only applies if variant is not "link")
const xs = ["h-8", "px-4", "py-2", "text-xs", "font-medium"];
const sm = ["h-9", "px-4", "py-2", "text-sm", "font-medium"];
const base = ["h-10", "px-6", "py-3", "text-base", "font-medium"];
const md = ["h-11", "px-6", "py-3", "text-md", "font-medium"];
const lg = ["h-12", "px-6", "py-3", "text-lg", "font-medium"];
const xl = ["h-14", "px-6", "py-3", "text-xl", "font-medium"];

// Gap
const gapXS = ["gap-2"];
const gapSM = ["gap-4"];
const gapBase = ["gap-8"];
const gapMD = ["gap-10"];
const gapLG = ["gap-12"];

const additionalClasses = className ? className.split(" ") : [];
---

<a
  href={href}
  class:list={[
    ...(variant === "link"
      ? [...linkClass, ...additionalClasses] // Apply link styles and custom classes for "link" variant
      : [
          "rounded-full",
          "flex",
          "items-center",
          "transition-all",
          "duration-200",
          "focus:ring-2",
          "focus:ring-offset-2",
          "transition-shadow",
          "focus:outline-none",
          variant === "default" && defaultClass,
          variant === "accent" && accentClass,
          variant === "muted" && mutedClass,
          variant === "ghost" && ghostClass,
          size === "xs" && xs,
          size === "sm" && sm,
          size === "base" && base,
          size === "md" && md,
          size === "lg" && lg,
          size === "xl" && xl,
          gap === "xs" && gapXS,
          gap === "sm" && gapSM,
          gap === "base" && gapBase,
          gap === "md" && gapMD,
          gap === "lg" && gapLG,
          ...additionalClasses,
        ]),
  ]}
  {...rest}
>
  <slot name="left-icon" />
  <slot />
  <slot name="right-icon" />
</a>
