/*  Import Tailwind CSS */
@import "tailwindcss";
/*  Import Tailwind CSS Forms and Typography plugins */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";


/*  Define your custom theme variables */
@theme {
  /* Typography */
  --font-sans: "Inter", sans-serif;

  /* Color palette */
  /* 
  // Uncomment this variable if you want to us only the custom colors  
  // --color-*: initial; 
  */
  --color-white: oklch(99% 0 0);
  --color-black: oklch(0 0 0);
  --color-transparent: oklch(99% 0 0 / 0);
  --color-current: currentColor;
  --color-accent-50: oklch(96% 0.015 158.25);
  --color-accent-100: oklch(92.17% 0.032 155.36);
  --color-accent-200: oklch(84.4% 0.065 154.46);
  --color-accent-300: oklch(76.02% 0.1 153.86);
  --color-accent-400: oklch(68.65% 0.13 151.92);
  --color-accent-500: oklch(56.56% 0.108 151.62);
  --color-accent-600: oklch(48.31% 0.091 151.89);
  --color-accent-700: oklch(39.44% 0.071 152.24);
  --color-accent-800: oklch(31.05% 0.052 151.99);
  --color-accent-900: oklch(20.92% 0.029 154.01);
  --color-accent-950: oklch(15.3% 0.017 157.97);

  /* Base palette */
  --color-base-50: oklch(0.98 0 0); /* Very light gray */
  --color-base-100: oklch(0.96 0 0); /* Light gray */
  --color-base-200: oklch(0.91 0 0); /* Lighter gray */
  --color-base-300: oklch(0.85 0 0); /* Medium light gray */
  --color-base-400: oklch(0.78 0 0); /* Medium gray */
  --color-base-500: oklch(0.63 0 0); /* Darker medium gray */
  --color-base-600: oklch(0.54 0 0); /* Dark gray */
  --color-base-700: oklch(0.46 0 0); /* Darker gray */
  --color-base-800: oklch(0.35 0 0); /* Very dark gray */
  --color-base-900: oklch(0.25 0 0); /* Almost black */
  --color-base-950: oklch(0.15 0 0); /* Near black */
  --shadow-hover: rgba(0, 0, 0, 0.137) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.14) 0px 0px 0px 0px, rgba(0, 0, 0, 0.165) 0px 0px 0px 0px;
}

:root {
  /* Typography */
  font-feature-settings: "liga" 1, "calt" 1,
    /* Contextual Alternates */ "dlig" 1, /* Discretionary Ligatures */ "ss07" 1,
    /* fSquare punctuation */ "ss08" 1, /* Square quotes */ "zero" 1,
    /* Slashed zero */ "tnum" 1, /* Tabular numbers */ "cv03" 1,
    /* Open six */ "cv04" 1, /* Open nine */ "cv01" 1,
    /* Alternate one */ "cv09", /* Flat-top three */ "cv02" 1; /* Open 4 */

  /* Variables to style Shiki code snippets */
  --astro-code-color-text: theme("colors.base.500");
  --astro-code-token-link: theme("colors.accent.600");
  --astro-code-token-comment: theme("colors.base.400");
  --astro-code-token-string: theme("colors.accent.500");
  --astro-code-token-constant: theme("colors.accent.500");
  --astro-code-background: theme("colors.base.50");
  --astro-code-token-keyword: theme("colors.accent.500");
  --astro-code-token-function: theme("colors.accent.500");
  --astro-code-token-parameter: theme("colors.accent.500");
  --astro-code-token-punctuation: theme("colors.accent.500");
  --astro-code-token-string-expression: theme("colors.base.950");
}
