---
import Logo from "@/components/global/Logo.astro";
import Button from "@/components/fundations/components/Button.astro";
---

<div
  class="bg-white text-right justify-between items-center inline-flex w-full z-10 py-2 px-8 lg:hidden"
>
  <div class="flex flex-row items-center justify-between w-full">
    <Logo />
    <Button
      size="sm"
      variant="none"
      type="button"
      class="ml-auto w-9 inline-flex items-center justify-center group"
      @click="open = true"
    >
      <div
        class="p-1.5 group-focus-visible:ring group-focus-visible:ring-indigo-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-gray-400 size-6 shrink-0 transition duration-300 ease-in-out"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path :class="{'opacity-0': open}" d="M4 8l16 0" class="opacity-0"
          ></path>
          <path d="M4 16l16 0"></path></svg
        >
      </div>
    </Button>
  </div>
</div>
