---
import Text from "../fundations/elements/Text.astro";
import Link from "../fundations/components/Link.astro";

// Define navigation data
const navigationItems = [
  {
    title: "Navigation",
    items: [
      {
        href: "https://buy.polar.sh/polar_cl_qA3TQpjAlNypYhyG8xrP-Zd5QfivKRd00udeUBvE_HE",
        text: "buy Trendspotter",
      },
      {
        href: "/tools/home",
        text: "Tools",
      },
      {
        href: "/blog/home",
        text: "Blog",
      },
      {
        href: "/store/home",
        text: "Store",
      },
      {
        href: "/about",
        text: "About",
      },

      {
        href: "/pricing",
        text: "Advertise",
      },
    ],
  },
  {
    title: "System",
    items: [
      {
        href: "/system/overview",
        text: "Overview",
      },
      {
        href: "/system/buttons",
        text: "Links",
      },
      {
        href: "/system/colors",
        text: "Colors",
      },
      {
        href: "/system/buttons",
        text: "Buttons",
      },
      {
        href: "/system/typography",
        text: "Typography",
      },
    ],
  },
];
---

<div class="flex flex-col gap-6 lg:gap-12 py-6 2xl:py-12">
  {
    navigationItems.map((section) => (
      <div class="px-8 space-y-2 ">
        <Text
          tag="p"
          variant="textMD"
          class=" font-semibold font-mono uppercase text-black"
        >
          {section.title}
        </Text>
        <ul class="space-y-1" role="navigation">
          {section.items.map((item) => (
            <li>
              <Link
                variant="link"
                href={item.href}
                class="text-sm font-mono uppercase font-medium  text-base-500 hover:text-accent-500"
              >
                {item.text}
              </Link>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
