---
import Link from "../fundations/components/Link.astro";
---

<div class=" p-8 items-center">
  <Link
    size="sm"
    variant="default"
    class="w-full justify-center"
    href="/#"
    >Buy Trendspotter</Link
  >
</div>
