---
import Link from "../fundations/components/Link.astro";
---

<div class="p-6 items-center flex w-full flex-row gap-2">
  <Link
    size="sm"
    variant="muted"
    class="w-full justify-center"
    href="/forms/signin">Sign in</Link
  >
  <Link
    size="sm"
    variant="accent"
    class="w-full justify-center"
    href="/forms/signup">Sign up</Link
  >
</div>
