---
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import EditCollectionModal from "./EditCollectionModal.astro";
import CreateCollectionModal from "./CreateCollectionModal.astro";
---

<section>
  <Wrapper variant="heroNarrow">
    <Text
      tag="h1"
      variant="displaySM"
      class="text-base-900 font-medium 2xl:text-5xl tracking-tight"
    >
      Collections
    </Text>
    <Text
      tag="p"
      variant="textBase"
      class="mt-4 text-base-500 text-balance 2xl:text-xl"
    >
      Manage your saved tools by adding, deleting, or renaming your collections.
    </Text>
    <div class="mt-12" x-data="{ open: false }">
      <!-- Trigger -->

      <button
        class="size-15 bg-accent-500 flex items-center justify-center text-white rounded-full hover:rotate-45 duration-300 cursor-pointer"
        x-on:click="open = true"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg
        >
      </button>
      <!-- Modal -->

      <CreateCollectionModal />
    </div>
  </Wrapper>
</section>
<section>
  <Wrapper variant="narrow" class="py-6">
    <div class="flex flex-col gap-4">
      <div x-data="{ show: true }" x-show="show" class="transition-all">
        <div class="flex items-baseline lg:justify-between relative">
          <Text tag="h3" variant="textBase" class="font-medium text-base-900">
            Design tools
            <a href="/dashboard/collection-details" title="the Blimp">
              <span class="absolute inset-0"></span>
            </a>
          </Text>
          <span class="flex-1 mx-2 border-dotted border-b border-base-300"
          ></span>
          <div class="flex items-center gap-x-2 relative ml-auto">
            <div x-data="{ open: false }">
              <button
                class="flex text-xs items-center"
                x-on:click="open = true"
              >
                Edit
              </button>
              <EditCollectionModal />
            </div>
            <span aria-hidden="true">·</span>
            <button
              @click="show = false"
              class="text-xs"
              aria-label="Delete"
              title="Delete this card"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <div x-data="{ show: true }" x-show="show" class="transition-all">
        <div class="flex items-baseline lg:justify-between relative">
          <Text  tag="h3"
          variant="textBase"
          class=" font-medium text-base-900">
            Developer tools
            <a href="/dashboard/collection-details" title="the Blimp">
              <span class="absolute inset-0"></span>
            </a>
          </Text>
          <span class="flex-1 mx-2 border-dotted border-b border-base-300"
          ></span>
          <div class="flex items-center gap-x-2 relative ml-auto">
            <div x-data="{ open: false }">
              <button
                class="flex text-xs items-center"
                x-on:click="open = true"
              >
                Edit
              </button>
              <EditCollectionModal />
            </div>
            <span aria-hidden="true">·</span>
            <button
              @click="show = false"
              class="text-xs"
              aria-label="Delete"
              title="Delete this card"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <div x-data="{ show: true }" x-show="show" class="transition-all">
        <div class="flex items-baseline lg:justify-between relative">
          <Text  tag="h3"
          variant="textBase"
          class=" font-medium text-base-900">
            Productivity
            <a href="/dashboard/collection-details" title="the Blimp">
              <span class="absolute inset-0"></span>
            </a>
          </Text>
          <span class="flex-1 mx-2 border-dotted border-b border-base-300"
          ></span>
          <div class="flex items-center gap-x-2 relative ml-auto">
            <div x-data="{ open: false }">
              <button
                class="flex text-xs items-center"
                x-on:click="open = true"
              >
                Edit
              </button>
              <EditCollectionModal />
            </div>
            <span aria-hidden="true">·</span>
            <button
              @click="show = false"
              class="text-xs"
              aria-label="Delete"
              title="Delete this card"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
