---
import Text from "../fundations/elements/Text.astro";
import Button from "../fundations/components/Button.astro";
---

<div class="flex flex-col h-full justify-between p-8 bg-base-100 rounded-3xl">
  <div>
    <div>
      <Text
        tag="p"
        variant="textLG"
        class="text-xl text-base-900 font-semibold uppercase"
      >
        Sponsor
      </Text>
      <Text tag="p" variant="textMD" class="mt-2 text-base-500">
        Promote your product on our website.
      </Text>
    </div>
    <div class="mt-8">
      <Text
        variant="displaySM"
        class="font-semibold flex items-baseline text-base-900"
      >
        <Text
          tag="span"
          data-monthly="$129.00"
          data-annual="$119.00"
          x-text="$el.dataset[duration]"
        />
        <Text
          tag="span"
          class="text-sm font-normal tracking-normal font-sans text-base-500"
        >
          <Text tag="span" x-show="duration === 'monthly'">
            <Text tag="span" x-show="duration === 'monthly'"> /month</Text>
          </Text><span x-show="duration === 'annual'" style="display: none">
            /annually</span
          >
        </Text>
      </Text>
      <div class="w-full mt-4">
        <Button
          size="sm"
          variant="default"
          class="w-full justify-center cursor-pointer"
        >
          Get Started
        </Button>
      </div>
      <div class="mt-8">
        <Text
          variant="textXS"
          class="text-base-900 font-mono uppercase tracking-wide font-medium"
        >
          includes:
        </Text>
        <ul
          class="flex flex-col text-sm mt-4 text-base-900 gap-y-3 font-medium"
          role="list"
        >
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-browser size-4"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 1a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1z"
              ></path><path d="M4 8l16 0"></path><path d="M8 4l0 4"></path></svg
            >
            <Text tag="span">Top slot on website</Text>
          </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-files size-4"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
              ></path></svg
            >
            <Text tag="span">Visible on every page </Text>
          </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-link size-4"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 15l6 -6"></path><path
                d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"
              ></path><path
                d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"
              ></path></svg
            >
            <Text tag="span">Backlink</Text>
          </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-users-group size-4"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path
                d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1"></path><path
                d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path
                d="M17 10h2a2 2 0 0 1 2 2v1"></path><path
                d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path
                d="M3 13v-1a2 2 0 0 1 2 -2h2"></path></svg
            >
            <Text tag="span">1M visitis</Text>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
