---
import Text from "../fundations/elements/Text.astro";
import Button from "../fundations/components/Button.astro";
---

<div class="flex flex-col h-full justify-between p-8 bg-base-50 rounded-3xl">
  <div>
    <div>
      <Text
        tag="p"
        variant="textLG"
        class="text-xl text-base-900 font-semibold uppercase"
      >
        Spot
      </Text>
      <Text tag="p" variant="textMD" class="mt-2 text-base-500">
        Promote your product on our website.
      </Text>
    </div>
    <div class="mt-8">
      <Text
        variant="displaySM"
        class="font-semibold flex items-baseline text-base-900"
      >
        <Text
          tag="span"
          data-monthly="$29.00"
          data-annual="$19.00"
          x-text="$el.dataset[duration]"
        />
        <Text
          tag="span"
          class="text-sm font-normal tracking-normal font-sans text-base-500"
        >
          <Text tag="span" x-show="duration === 'monthly'">
            <Text tag="span" x-show="duration === 'monthly'"> /month</Text>
          </Text><span x-show="duration === 'annual'" style="display: none">
            /annually</span
          >
        </Text>
      </Text>
      <div class="w-full mt-4">
        <Button
          size="sm"
          variant="muted"
          class="w-full justify-center cursor-pointer"
        >
          Get Started
        </Button>
      </div>
      <div class="mt-8">
        <Text
          variant="textXS"
          class="text-base-900 font-mono uppercase tracking-wide font-medium"
        >
          includes:
        </Text>
        <ul
          class="flex flex-col text-sm mt-4 text-base-900 gap-y-3 font-medium"
          role="list"
        >
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-home size-4"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
                d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
                d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg
            >
            <Text tag="span">Homepage</Text>
          </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-universe size-4"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M7.027 11.477a5 5 0 1 0 5.496 -4.45a4.951 4.951 0 0 0 -3.088 .681"
              ></path><path d="M5.636 5.636a9 9 0 1 0 3.555 -2.188"></path><path
                d="M18 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path
                d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path
                d="M9 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg
            >
            <Text tag="span">No "related products" </Text>
          </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-tag size-4"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path
                d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z"
              ></path></svg
            >
            <Text tag="span">Top 3 in category/tag pages</Text>
          </li>
          <li class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-viewfinder size-4"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
                d="M12 3l0 4"></path><path d="M12 21l0 -3"></path><path
                d="M3 12l4 0"></path><path d="M21 12l-3 0"></path><path
                d="M12 12l0 .01"></path></svg
            >
            <Text tag="span">30K–50K impressions</Text>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
