---
// Fundation
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/components/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---
<BaseLayout>
  <section>
    <Wrapper variant="standard">
      <svg
        viewBox="0 0 2736 490"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.77703 478.485V0.208283H363.331V97.8705H119.176V183.492H328.547V275.803H119.176V378.148H367.345V478.485H0.77703ZM394.054 478.485V135.999H498.406V189.512H500.412C523.602 150.269 554.818 130.647 594.061 130.647C604.318 130.647 611.453 131.539 615.467 133.323V226.972H612.791C578.899 222.066 552.142 228.087 532.521 245.033C512.899 261.533 503.088 288.066 503.088 324.634V478.485H394.054ZM630.057 478.485V135.999H734.409V189.512H736.415C759.605 150.269 790.821 130.647 830.064 130.647C840.321 130.647 847.456 131.539 851.469 133.323V226.972H848.794C814.902 222.066 788.145 228.087 768.523 245.033C748.902 261.533 739.091 288.066 739.091 324.634V478.485H630.057ZM973.244 383.499C985.731 402.229 1003.57 411.593 1026.76 411.593C1049.95 411.593 1067.78 402.229 1080.27 383.499C1093.2 364.769 1099.67 339.573 1099.67 307.911C1099.67 276.249 1093.2 251.053 1080.27 232.323C1067.78 213.147 1049.95 203.56 1026.76 203.56C1003.57 203.56 985.731 212.925 973.244 231.654C960.758 250.384 954.514 275.803 954.514 307.911C954.514 339.573 960.758 364.769 973.244 383.499ZM1159.2 437.681C1125.76 472.019 1081.83 489.188 1027.43 489.188C973.021 489.188 928.872 472.019 894.981 437.681C861.089 403.343 844.143 360.087 844.143 307.911C844.143 255.735 861.089 212.479 894.981 178.141C928.872 143.803 973.021 126.634 1027.43 126.634C1081.83 126.634 1125.76 143.803 1159.2 178.141C1193.1 212.479 1210.04 255.735 1210.04 307.911C1210.04 360.087 1193.1 403.343 1159.2 437.681ZM1226.83 478.485V135.999H1331.18V189.512H1333.19C1356.38 150.269 1387.6 130.647 1426.84 130.647C1437.1 130.647 1444.23 131.539 1448.24 133.323V226.972H1445.57C1411.68 222.066 1384.92 228.087 1365.3 245.033C1345.68 261.533 1335.87 288.066 1335.87 324.634V478.485H1226.83ZM1747.98 478.485V376.81H1534.59V273.127L1746.64 15.5934H1857.68V291.188H1923.9V376.81H1857.68V478.485H1747.98ZM1619.55 291.188H1747.98V133.992H1746.64L1619.55 289.85V291.188ZM2134.02 400.891C2191.55 400.891 2220.31 350.499 2220.31 249.715C2220.31 202.891 2213.18 165.877 2198.91 138.675C2185.08 111.472 2163.45 97.8705 2134.02 97.8705C2104.59 97.8705 2082.74 111.472 2068.47 138.675C2054.2 165.431 2047.06 202.445 2047.06 249.715C2047.06 296.985 2054.2 333.999 2068.47 360.756C2082.74 387.512 2104.59 400.891 2134.02 400.891ZM2133.35 489.188C2073.15 489.188 2024.32 467.337 1986.86 423.634C1949.85 379.931 1931.34 321.958 1931.34 249.715C1931.34 177.026 1949.85 119.053 1986.86 75.7961C2024.32 32.0934 2073.37 10.2421 2134.02 10.2421C2195.56 10.2421 2244.62 32.0934 2281.18 75.7961C2318.2 119.053 2336.7 177.026 2336.7 249.715C2336.7 322.404 2317.97 380.6 2280.52 424.303C2243.5 467.56 2194.45 489.188 2133.35 489.188ZM2559.67 478.485V376.81H2346.28V273.127L2558.33 15.5934H2669.37V291.188H2735.59V376.81H2669.37V478.485H2559.67ZM2431.24 291.188H2559.67V133.992H2558.33L2431.24 289.85V291.188Z"
          fill="black"></path>
      </svg>
    </Wrapper>
  </section>
  <section class="relative overflow-hidden">
    <Wrapper variant="hero" class="relative">
      <Text
        tag="p"
        variant="textLG"
        class="mt-4 text-base-700 text-balance max-w-xs"
      >
        Sorry, the page you are looking for does not exist. It might have been
        removed, renamed, or is temporarily unavailable.
      </Text>
      <div class="mt-8 flex flex-wrap gap-4">
        <Link
          size="sm"
          variant="muted"
          title="#_"
          href="/"
          class="justify-center "
        >
          
          Go back home
        </Link>
          <Link
          size="sm"
          variant="default"
          title="#_"
          href="/"
          class="justify-center "
        >
         
          Search for resources
        </Link>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
