---
// Layout
import BaseLayout from "@/layouts/BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="heroNarrow">
      <Text
        tag="h1"
        variant="displaySM"
        class="text-base-900 font-medium 2xl:text-5xl"
      >
        Trendspotter
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 text-base-500 text-balance 2xl:text-xl"
      >
        Your ultimate toolkit for creative growth
      </Text>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="narrow">
      <div class="prose-styles">
        <p>
          Trendspotter is your go-to hub for discovering and accessing top-notch
          tools, resources, and inspiration to elevate your projects and
          streamline your workflow. Whether you’re a designer, developer, or
          creator of any kind, Trendspotter is crafted to keep you on the
          cutting edge of trends in design, typography, graphics, and more.
        </p>

        <p>
          Explore categories like typography, icons, colors, and graphics to
          find the right resources for your work. Our curated list of tools and
          products—from free and premium themes to font galleries and icon
          packs—ensures you'll always have access to the latest and most
          effective solutions. Join the Trendspotter community today and stay
          ahead in the ever-evolving world of creative design.
        </p>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
