---
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import EditCollectionModal from "./EditCollectionModal.astro";
import CreateCollectionModal from "./CreateCollectionModal.astro";
import RemoveCollectionModal from "./RemoveCollectionModal.astro";
---

<section>
  <Wrapper variant="hero">
    <Text
      tag="h1"
      variant="displaySM"
      class="text-base-900 font-medium 2xl:text-5xl tracking-tight"
    >
      Design resources
    </Text>
    <Text
      tag="p"
      variant="textBase"
      class="mt-4 text-base-500 text-balance 2xl:text-xl"
    >
      Manage your saved resources by adding, deleting, or renaming your collections.
    </Text>
  </Wrapper>
</section>
<section>
  <Wrapper variant="standard" class="py-6">
    <div
      class="border-t border-base-200 pt-2 flex items-center justify-between"
    >
      <Text
        tag="h2"
        variant="textXS"
        class="font-medium uppercase text-base-500">All design resources</Text
      >
      <div class="flex items-center gap-x-2 relative ml-auto">
        <div x-data="{ open: false }">
          <button class="flex text-xs items-center" x-on:click="open = true">
            New collection
          </button>
          <CreateCollectionModal />
        </div>
        <span aria-hidden="true">·</span>
        <div x-data="{ open: false }">
          <button class="flex text-xs items-center" x-on:click="open = true">
            Edit
          </button>
          <EditCollectionModal />
        </div>
        <span aria-hidden="true">·</span>
        <div x-data="{ open: false }">
          <button
           x-on:click="open = true"
            class="text-xs"
            aria-label="Delete"
            title="Delete all collecton"
          >
            Delete collection
          </button>
          <RemoveCollectionModal />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-2 md:grid-cols-2 xl:grid-cols-4 mt-8">
      <div x-data="{ show: true }" x-show="show">
        <div class="overflow-hidden relative">
          <img
            src="/images/thumbnail/12.png"
            data-image-component="true"
            alt="Put your alt text"
            width="500"
            height="500"
            loading="lazy"
            decoding="async"
            class="object-cover aspect-16/10 w-full"
          />
          <a href="/directory/10" title="the Blimp">
            <span class="absolute inset-0"></span>
          </a>
        </div>
        <div class="pt-2">
          <div class="flex items-center lg:justify-between">
            <h3 class="text-base font-medium text-base-900">Hello</h3>
            <div class="flex items-center gap-1">
              <a href="#_" title="the Blimp">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-link size-4"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path d="M9 15l6 -6"></path><path
                    d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"
                  ></path><path
                    d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"
                  ></path></svg
                >
              </a>
              <span aria-hidden="true">·</span>
              <button
                @click="show = false"
                class="text-xs"
                aria-label="Delete"
                title="Delete this card"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
