---
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "../fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="narrow" class="py-24 flex flex-col">
    <div class="text-center">
      <Text variant="displaySM"
      class="text-base-900 font-medium 2xl:text-5xl tracking-tight">
         Let's Work Together.
      </Text>
      <Text tag="p"
      variant="textBase"
      class="mt-4 text-base-500 text-balance 2xl:text-xl">
        And see how we can help you grow.
      </Text>
    </div>
    <div class="mt-8 justify-center flex">
      <a
        href="https://cal.com/yrx"
        target="_blank"
        rel="noopener noreferrer"
        title="Schedule a call with us"
        class="h-9 px-4 py-2 text-sm font-medium text-white bg-black hover:bg-base-800 focus:ring-black flex cursor-pointer rounded-full items-center duration-300 focus:ring-2 focus:ring-offset-2 transition focus:outline-none justify-center"
      >
        Schedule a call
      </a>
    </div>
  </Wrapper>
</section>
