---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <h1>
      {frontmatter.page}
    </h1>
    <h4>
      Last upadated on {frontmatter.pubDate.toString().slice(0, 10)}
    </h4>
    <slot />
  </section>
</BaseLayout>
