---
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

---

<section>
  <Wrapper variant="hero">
    <Text
      tag="h1"
      variant="displaySM"
      class="text-base-900 font-mono uppercase font-medium tracking-tighter 2xl:text-5xl"
      >Colors
    </Text>
    <Text
      tag="p"
      variant="textMD"
      class="mt-4 text-base-500 text-balance 2xl:text-xl"
    >
      Colors system
    </Text>
  </Wrapper>
</section>
<section>
  <Wrapper variant="wide">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <!-- Accent Color Column -->
      <div>
        <Text
          tag="h3"
          variant="textSM"
          class="text-base-900 font-mono uppercase font-medium hover:opacity-60 2xl:text-base transition-opacity duration-200"
          >Accent</Text
        >
        <div class="mt-6 flex flex-col gap-2">
          <div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-50"></div>
            <span class="text-sm text-base-500"> bg-accent-50 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-100"></div>
            <span class="text-sm text-base-500"> bg-accent-100 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-200"></div>
            <span class="text-sm text-base-500"> bg-accent-200 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-300"></div>
            <span class="text-sm text-base-500"> bg-accent-300 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-400"></div>
            <span class="text-sm text-base-500"> bg-accent-400 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-500"></div>
            <span class="text-sm text-base-500"> bg-accent-500 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-600"></div>
            <span class="text-sm text-base-500"> bg-accent-600 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-700"></div>
            <span class="text-sm text-base-500"> bg-accent-700 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-800"></div>
            <span class="text-sm text-base-500"> bg-accent-800 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-900"></div>
            <span class="text-sm text-base-500"> bg-accent-900 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-accent-950"></div>
            <span class="text-sm text-base-500"> bg-accent-950 </span>
          </div>
        </div>
      </div>
      <!-- Base Color Column -->
      <div>
        <Text
          tag="h3"
          variant="textSM"
          class="text-base-900 font-mono uppercase font-medium hover:opacity-60 2xl:text-base transition-opacity duration-200"
          >Base</Text
        >
        <div class="mt-6 flex flex-col gap-2">
          <div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-50"></div>
            <span class="text-sm text-base-500"> bg-base-50 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-100"></div>
            <span class="text-sm text-base-500"> bg-base-100 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-200"></div>
            <span class="text-sm text-base-500"> bg-base-200 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-300"></div>
            <span class="text-sm text-base-500"> bg-base-300 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-400"></div>
            <span class="text-sm text-base-500"> bg-base-400 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-500"></div>
            <span class="text-sm text-base-500"> bg-base-500 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-600"></div>
            <span class="text-sm text-base-500"> bg-base-600 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-700"></div>
            <span class="text-sm text-base-500"> bg-base-700 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-800"></div>
            <span class="text-sm text-base-500"> bg-base-800 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-900"></div>
            <span class="text-sm text-base-500"> bg-base-900 </span>
          </div><div class="inline-flex items-center gap-2">
            <div class="p-6 rounded-lg bg-base-950"></div>
            <span class="text-sm text-base-500"> bg-base-950 </span>
          </div>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
