---
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Define the data for each section and its pages
const pages = [
  {
    title: "Overview",
    categories: [
      {
        name: "Pages",
        links: [
          { href: "/", text: "Home" },
          { href: "/about", text: "About" },
        ],
      },
      {
        name: "Dashboard",
        links: [
          { href: "/dashboard/settings", text: "Settings" },
          { href: "/dashboard/collections", text: "Collections" },
          { href: "/dashboard/collection-details", text: "Collection Details" },
          { href: "/dashboard/submissions", text: "Submissions" },
          { href: "/dashboard/profile", text: "Profile" },
        ],
      },
      {
        name: "Advertise",
        links: [{ href: "/pricing", text: "Membership" }],
      },
      {
        name: "Forms",
        links: [
          { href: "/forms/signin", text: "Sing in" },
          { href: "/forms/signup", text: "Sing up" },
          { href: "/forms/reset", text: "Reset" },
        ],
      },
      {
        name: "System",
        links: [
          { href: "/system/links", text: "Links" },
          { href: "/system/buttons", text: "Buttons" },
          { href: "/system/colors", text: "Colors" },
          { href: "/system/typography", text: "Typography" },
          {
            href: "https://lexingtonthemes.com/legal/license",
            text: "License",
          },
          {
            href: "https://lexingtonthemes.com/legal/support/",
            text: "Support",
          },
          {
            href: "https://lexingtonthemes.com/documentation/",
            text: "Documentation",
          },
        ],
      },
    ],
  },
  {
    title: "Content collections",
    categories: [
      {
        name: "Directory",
        links: [
          { href: "/tools/home", text: "All tools" },
          { href: "/tools/tool/12", text: "Tool details" },
          { href: "/tools/tags", text: "Tag index" },
          { href: "/tools/tags/design", text: "Tag category" },
          { href: "/tools/submit", text: "Submit" },
        ],
      },
      {
        name: "Blog",
        links: [
          { href: "/blog/home", text: "Blog home" },
          { href: "/blog/posts/1", text: "Blog post" },
          { href: "/blog/tags", text: "Tag index" },
          { href: "/blog/tags/Design", text: "Tag category" },
          { href: "/rss.xml", text: "RSS" },
        ],
      },
      {
        name: "Store",
        links: [
          { href: "/store/home", text: "Store Home" },
          { href: "/store/1", text: "Store details" },
        ],
      },
      {
        name: "Utility pages",
        links: [
          { href: "/infopages/terms", text: "Terms" },
          { href: "/infopages/privacy", text: "Privacy" },
        ],
      },
    ],
  },
];
---

<section>
  <Wrapper variant="hero">
    <div class="grid grid-col-1 lg:grid-cols-2 gap-12">
      {
        pages.map((section) => (
          <div class="border-t border-base-200 pt-2 ">
            <div>
              <Text
                tag="h2"
                variant="textXS"
                class="font-medium uppercase text-base-500"
              >
                {section.title}
              </Text>
              <div class="mt-12  grid grid-cols-1 md:grid-cols-2 gap-8 gap-y-4">
                {section.categories.map((category) => (
                  <div class="flex flex-col gap-2 ">
                    <Text
                      tag="p"
                      variant="textBase"
                      class="text-base-900 hover:text-accent-500 font-medium"
                    >
                      {category.name}
                    </Text>
                    <ul role="list">
                      {category.links.map((link) => (
                        <li>
                          <Text
                            tag="a"
                            variant="textBase"
                            href={link.href}
                            class="text-base-500 hover:text-accent-500"
                          >
                            {link.text}
                          </Text>
                        </li>
                      ))}
                    </ul>
                  </div>
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
