---
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/components/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Define the data for each section and its pages
const pages = [
  {
    title: "Overview",
    categories: [
      {
        name: "Pages",
        links: [
          { href: "/", text: "Home" },
          { href: "/about", text: "About" },
        ],
      },
      {
        name: "Advertise",
        links: [{ href: "/pricing", text: "Pricing" }],
      },
      {
        name: "Forms",
        links: [
          { href: "/forms/signin", text: "Sing in" },
          { href: "/forms/signup", text: "Sing up" },
          { href: "/forms/contact", text: "Contact" },
        ],
      },
      {
        name: "System",
        links: [
          { href: "/system/styleguide", text: "Style Guide" },
          {
            href: "https://lexingtonthemes.com/legal/license",
            text: "License",
          },
          {
            href: "https://lexingtonthemes.com/legal/support/",
            text: "Support",
          },
          {
            href: "https://lexingtonthemes.com/documentation/quick-start",
            text: "Documentation",
          },
        ],
      },
    ],
  },
  {
    title: "Content collections",
    categories: [
      {
        name: "Blog",
        links: [
          { href: "/blog/home", text: "Blog home" },
          { href: "/blog/posts/1", text: "Blog post" },
          { href: "/blog/tags", text: "Tag index" },
          { href: "/blog/tags/Design", text: "Tag category" },
          { href: "/rss.xml", text: "RSS" },
        ],
      },
      {
        name: "Tools",
        links: [
          { href: "/tools/home", text: "Home" },
          { href: "/tool/1", text: "Tool" },
          { href: "/tools/tags", text: "Tag index" },
          { href: "/tools/tag/development", text: "Tag category" },
        ],
      },
      {
        name: "Utility pages",
        links: [
          { href: "/infopages/terms", text: "Terms" },
          { href: "/infopages/privacy", text: "Privacy" },
        ],
      },
    ],
  },
];
---

<section>
  <Wrapper variant="hero">
    <div class="mt-12 space-y-16 col-span-full">
      {
        pages.map((section) => (
          <div>
            <Text
              tag="h1"
              variant="displaySM"
              class="text-base-900 font-mono uppercase font-medium tracking-tighter 2xl:text-3xl"
            >
              {section.title}
            </Text>
            <div class="mt-8 gap-y-12 gap-x-6 grid grid-cols-2 xl:grid-cols-4 ">
              {section.categories.map((category) => (
                <div class="flex flex-col gap-4 ">
                  <Text class="text-2xl tracking-tight font-display text-green-800 ">
                    {category.name}
                  </Text>
                  <ul
                    role="list"
                    class="grid grid-cols-1 gap-2   lg:col-span-2"
                  >
                    {category.links.map((link) => (
                      <li>
                        <Link
                          href={link.href}
                          size="sm"
                          variant="link"
                          class="flex font-mono uppercase font-medium text-base-500 hover:text-accent-400 "
                        >
                          {link.text}
                        </Link>
                      </li>
                    ))}
                  </ul>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
