<section>
  <div class="bg-white 2xl:max-w-7xl mx-auto">
    <div class="px-8 py-24 lg:pt-32 mx-auto md:px-16">
      <div class="grid items-end gap-4 lg:grid-cols-3 max-w-5xl mx-auto">
        <div class="lg:col-span-2">
          <h1
            class="text-4xl tracking-tighter font-display text-green-800 lg:text-6xl text-balance">
            Style guide
          </h1>
        </div>
        <p class="text-base font-medium text-green-500">
         Follow the style guide
        </p>
      </div>
      <div class="max-w-5xl mx-auto py-12 mt-24 space-y-12">
        <div>
          <div class="relative max-w-xs">
            <div
              class="absolute inset-0 flex items-center"
              aria-hidden="true">
              <div class="w-full border-t border-green-300"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="bg-white pr-2 text-sm text-green-500 font-medium"
                >Typography · Epilogue &amp; Inter</span
              >
            </div>
          </div>
          <div class="space-y-6 pt-12">
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <div>
                <span class="text-green-500">H1</span>
              </div>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-4xl tracking-tighter font-display text-green-800 lg:text-6xl"
                  >Header 1</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <span class="text-green-500">H2</span>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-2xl tracking-tighter font-display text-green-800 lg:text-5xl"
                  >Header 2</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <span class="text-green-500">H3</span>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-xl tracking-tighter font-display text-green-800 lg:text-4xl"
                  >Header 3</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <span class="text-green-500">H4</span>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-xl tracking-tighter font-display text-green-800 lg:text-3xl"
                  >Header 4</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <span class="text-green-500">H5</span>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-lg tracking-tighter font-display text-green-800 lg:text-2xl"
                  >Header 5</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <span class="text-green-500">H6</span>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-base tracking-tighter font-display text-green-800 lg:text-xl"
                  >Header 6</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <span class="text-green-500">Link</span>
              <div class="col-span-2 lg:col-span-3">
                <a
                  href="#_"
                  class="text-green-500 text-xl font-display hover:text-pink-500 duration-200"
                  >Link text</a
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <span class="text-green-500">Subtitle</span>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-base tracking-tighter font-display text-green-800"
                  >Subtitle text</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <span class="text-green-500">Paragraph</span>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-green-500 text-2xl text-balance"
                  >I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents.</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <span class="text-green-500">Caption</span>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-green-500 text-xs"
                  >Picture about somethign</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <span class="text-green-500">List</span>
              <div class="col-span-2 lg:col-span-3">
                <ul
                  class="text-green-400 text-xl space-y-2"
                  role="list">
                  <li>Next.js and/or Nuxt.js</li>
                  <li>CReact Native .</li>
                  <li>AWS and/or Firebase</li>
                  <li>Familiarity with noSQL databases</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="space-y-6 pt-12">
          <div class="relative max-w-xs">
            <div
              class="absolute inset-0 flex items-center"
              aria-hidden="true">
              <div class="w-full border-t border-green-300"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="bg-white pr-2 text-sm text-green-500 font-medium"
                >Color palette</span
              >
            </div>
          </div>
          <div class="grid gap-2 grid-cols-2 lg:grid-cols-5">
            <div class="space-y-2">
              <div class="p-6 rounded-xl bg-white border border-green-200">
              </div>
            </div>
            <div>
              <div class="lg:justify-center p-6 rounded-t-xl bg-green-50"></div>
              <div class="lg:justify-center p-6 bg-green-100"></div>
              <div class="lg:justify-center p-6 bg-green-200"></div>
              <div class="lg:justify-center p-6 bg-green-300"></div>
              <div class="lg:justify-center p-6 bg-green-400"></div>
              <div class="lg:justify-center p-6 bg-green-500"></div>
              <div class="lg:justify-center p-6 bg-green-600"></div>
              <div class="lg:justify-center p-6 bg-green-700"></div>
              <div class="lg:justify-center p-6 bg-green-800"></div>
              <div class="lg:justify-center p-6 bg-green-900"></div>
              <div class="lg:justify-center p-6 rounded-b-xl bg-green-950">
              </div>
            </div>
            <div>
              <div class="lg:justify-center p-6 rounded-t-xl bg-yellow-50">
              </div>
              <div class="lg:justify-center p-6 bg-yellow-100"></div>
              <div class="lg:justify-center p-6 bg-yellow-200"></div>
              <div class="lg:justify-center p-6 bg-yellow-300"></div>
              <div class="lg:justify-center p-6 bg-yellow-400"></div>
              <div class="lg:justify-center p-6 bg-yellow-500"></div>
              <div class="lg:justify-center p-6 bg-yellow-600"></div>
              <div class="lg:justify-center p-6 bg-yellow-700"></div>
              <div class="lg:justify-center p-6 bg-yellow-800"></div>
              <div class="lg:justify-center p-6 bg-yellow-900"></div>
              <div class="lg:justify-center p-6 rounded-b-xl bg-yellow-950">
              </div>
            </div>
            <div>
              <div class="lg:justify-center p-6 rounded-t-xl bg-pink-50"></div>
              <div class="lg:justify-center p-6 bg-pink-100"></div>
              <div class="lg:justify-center p-6 bg-pink-200"></div>
              <div class="lg:justify-center p-6 bg-pink-300"></div>
              <div class="lg:justify-center p-6 bg-pink-400"></div>
              <div class="lg:justify-center p-6 bg-pink-500"></div>
              <div class="lg:justify-center p-6 bg-pink-600"></div>
              <div class="lg:justify-center p-6 bg-pink-700"></div>
              <div class="lg:justify-center p-6 bg-pink-800"></div>
              <div class="lg:justify-center p-6 bg-pink-900"></div>
              <div class="lg:justify-center p-6 rounded-b-xl bg-pink-950"></div>
            </div>
            <div>
              <div class="lg:justify-center p-6 rounded-t-xl bg-brown-50"></div>
              <div class="lg:justify-center p-6 bg-brown-100"></div>
              <div class="lg:justify-center p-6 bg-brown-200"></div>
              <div class="lg:justify-center p-6 bg-brown-300"></div>
              <div class="lg:justify-center p-6 bg-brown-400"></div>
              <div class="lg:justify-center p-6 bg-brown-500"></div>
              <div class="lg:justify-center p-6 bg-brown-600"></div>
              <div class="lg:justify-center p-6 bg-brown-700"></div>
              <div class="lg:justify-center p-6 bg-brown-800"></div>
              <div class="lg:justify-center p-6 bg-brown-900"></div>
              <div class="lg:justify-center p-6 rounded-b-xl bg-brown-950">
              </div>
            </div>
          </div>
        </div>
        <div class="space-y-6 pt-12">
          <div class="relative max-w-xs">
            <div
              class="absolute inset-0 flex items-center"
              aria-hidden="true">
              <div class="w-full border-t border-green-300"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="bg-white pr-2 text-sm text-green-500 font-medium"
                >Buttons</span
              >
            </div>
          </div>
          <div class="flex flex-wrap gap-2">
            <button
             type="button"
              class="relative group overflow-hidden rounded-md h-12 px-4 bg-green-800 duration-300">
              <div
                aria-hidden="true"
                class="transition duration-300 group-hover:-translate-y-12 text-green-200 font-medium">
                <div class="h-12 flex items-center">
                  <span>Primary</span>
                </div>
                <div class="h-12 flex items-center justify-between w-full">
                  <span>Button </span>
                  <span aria-hidden="true">→</span>
                </div>
              </div>
            </button>
             <button
             type="button"
              class="relative group overflow-hidden rounded-md h-12 px-4 bg-green-200 duration-300">
              <div
                aria-hidden="true"
                class="transition duration-300 group-hover:-translate-y-12 text-green-700 font-medium">
                <div class="h-12 flex items-center">
                  <span>Secondary</span>
                </div>
                <div class="h-12 flex items-center justify-between w-full">
                  <span>Button </span>
                  <span aria-hidden="true">→</span>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
