<section>
  <div class="mx-auto max-w-3xl px-8 py-24 sm:py-32">
    <div>
      <p
        class="text-2xl font-medium tracking-tight text-base-900      sm:text-4xl">
        Reset your password
      </p>
    </div>

    <form class="mt-12 lg:mt-24 border-y         py-12">
      <!-- Email Field -->
      <div>
        <label
          for="email"
          class="sr-only"
          >Email</label
        >
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          autocomplete="email"
          class="block w-full rounded-lg border-0 py-3 px-3.5 text-sm leading-6 text-base-900 bg-base-100       placeholder:text-base-400 focus:ring-2 focus:ring-inset focus:ring-accent-400        "
          aria-describedby="emailHelp"
        />
        <p
          id="emailHelp"
          class="mt-2 text-sm text-base-500   ">
          We'll email you a link to reset your password.
        </p>
      </div>

      <!-- Submit Button -->
      <div class="mt-4">

        <button
          type="submit"
          class="inline-flex items-center gap-2 justify-center rounded-lg py-3 px-6 text-sm outline-offset-2 transition bg-black text-white font-medium hover:bg-base-800           group w-full lg:w-auto border border-white/20">
          Send Reset Link
        </button>
      </div>
    </form>
  </div>
</section>
