---
import Link from "@/components/fundations/components/Link.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/components/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper
    variant="heroNarrow"
    class="relative flex flex-col items-center justify-center h-svh"
  >
    <div class="text-center">
      <Text
        tag="h1"
        variant="textXL"
        class="text-base-900 font-mono uppercase font-medium tracking-tighter 2xl:text-3xl"
      >
        Reset your password
      </Text>
    </div>
    <form
      action="#"
      method="POST"
      class="relative w-full max-w-sm mx-auto mt-4 overflow-y-auto bg-white ring-1 ring-base-200 rounded-2xl p-8 lg:p-12"
    >
      <div>
        <label class="text-xs mb-1 text-base-500 font-medium">First name</label>
        Email
      </div>
      <div class="mt-2.5">
        <input
          type="email"
          name="email"
          id="email"
          autocomplete="email"
          required
          aria-required="true"
          aria-describedby="email-error"
          placeholder="Your email"
          class="block w-full h-9 px-4 py-2 text-sm text-base-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-base-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
        />
        <span id="email-error" class="text-red-600 text-sm hidden">
          Please enter a valid email address.
        </span>
      </div>
    </form>
    <div class="mt-4">
      <Button
        size="sm"
        submit="true"
        variant="default"
        class="w-full justify-center"
      >
        Sign in
      </Button>
    </div>
    <div class="flex items-center justify-between mt-4 w-full">
      <Text tag="p" variant="textSM" class="text-base-500 font-semibold">
        Don't have an account?
      </Text>
      <Text tag="p" variant="textSM">
        <Link
          variant="link"
          href="#_"
          class="text-accent-500 hover:text-base-500 font-semibold"
        >
          Sign up
        </Link>
      </Text>
    </div>
  </Wrapper>
</section>
