---
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/components/Button.astro";
---
<div
  class="flex justify-center"
  x-data="{ open: false }">
  <!-- Trigger -->
  <span x-on:click="open = true">
    <Button
      size="sm"
      variant="default"
      title="#_"
      href="/submit"
      class="justify-center flex items-center gap-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-mail size-4"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
        ></path><path
          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
        ></path><path d="M3 7l9 6l9 -6"></path></svg
      >
      Subscribe
    </Button>
  </span>
  <!-- Modal -->
  <div
    x-show="open"
    role="dialog"
    aria-modal="true"
    style="display: none;"
    x-id="['modal-title']"
    aria-labelledby="modal-title-3"
    :aria-labelledby="$id('modal-title')"
    x-on:keydown.escape.prevent.stop="open = false"
    class="fixed inset-0 z-50 w-screen overflow-y-hidden">
    <!-- Overlay -->
    <div
      x-show="open"
      x-transition.opacity=""
      style="display: none;"
      class="fixed inset-0 bg-base-200/80">
    </div>
    <!-- Panel -->
    <div
      x-show="open"
      x-on:click="open = false"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="transform opacity-0 translate-y-full"
      x-transition:enter-end="transform opacity-100 translate-y-0"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="transform opacity-100 translate-y-0"
      x-transition:leave-end="transform opacity-0 translate-y-full"
      class="relative flex min-h-screen items-center justify-center p-4"
      style="display: none;">
      <div
        x-on:click.stop=""
        x-trap.noscroll.inert="open"
        class="relative w-full max-w-sm overflow-y-auto bg-white ring-1 ring-base-200 rounded-2xl p-8 lg:p-12">
        <div class="relative">
          <Text
            tag="h3"
            variant="textLG"
            class="font-medium text-base-900      text-center">
            Get updates
          </Text>
          <Text
            tag="p"
            variant="textSM"
            class="font-medium text-base-500    text-center mt-2 text-balance">
            Subscribe to our newsletter and be the first to discover the hotest
            and lates tools on the design and development market.
          </Text>
          <form class="mt-4 space-y-2">
            <div>
              <label
                for="name"
                class="block mb-3 text-sm font-medium text-black sr-only">
                First name
              </label>
              <input
                id="name"
                name="text"
                type="text"
                placeholder="Your name"
                aria-placeholder="Your name"
                class="block w-full h-10 px-4 py-2 text-sm text-base-700 duration-300 bg-white border border-transparent rounded-lg appearance-none ring-1 ring-base-200 placeholder-base-400 focus:border-base-300 focus:bg-transparent focus:outline-none focus:ring-base-500 focus:ring-offset-2 focus:ring-2 sm:text-sm"
              />
            </div>
            <Button
              size="sm"
              submit="true"
              variant="default"
              class="w-full justify-center">
              Subscribe
            </Button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
