<section >
  <div class="mx-auto max-w-3xl px-8 py-24 sm:py-32">
    <div class="mx-auto max-w-2xl">
      <div>
        <div>
          <div>
            <p
              class="text-2xl font-medium tracking-tight text-base-900      sm:text-4xl">
              Error 404 or Page Not Found
            </p>
          </div>
          <p class="mt-4 text-base-500   ">
            Error 404, also known as "Page Not Found" error, occurs when a user
            tries to access a web page that does not exist or is no longer
            available on the server. When a web server receives a request from a
            user's browser for a specific page, it looks for the file on its
            server. If it cannot find the file or page requested, it returns a
            404 error message to the user's browser, indicating that the server
            could not find the requested resource.
          </p>
          <p class="mt-4 text-base-500   ">
            A 404 error can occur due to several reasons, including the
            following:
          </p>
          <ul role="list" class="prose text-base-500 list-disc">
            <li>
              <p>The page has been deleted or moved to a different location.</p>
            </li>
            <li><p>The URL is mistyped or contains an error</p></li>
            <li><p>The web server is down or unavailable.</p></li>
          </ul>
          <p class="mt-4 text-base-500   ">
            When a user encounters a 404 error, it is important to check the URL
            and try again, making sure that it is typed correctly. If the error
            persists, it may indicate that the requested page is no longer
            available, and the user may need to search for the content they were
            looking for on a different page or website.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
