---
import Logo from "@/components/global/Logo.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Text from "@/components/fundations/elements/Text.astro";
---

<footer x-data="{ year: new Date().getFullYear() }">
  <Wrapper
    variant="wide"
    class="py-12">
    <div class="flex flex-col gap-4 pt-4 w-full">
      <Logo />
      <Text
        tag="p"
        variant="textMD"
        class="mt-4 text-base-500 lg:text-balance   ">
        © Copyright Lexington Themes <span x-text="year"></span>. All rights
        reserved. Designed and built in the Åland Islands by Michael Andreuzza.
      </Text>
    </div>
  </Wrapper>
</footer>
